*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* TYPOGRAPHY */
body {
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  color: #2b283a;
}

nav h1 {
  font-size: 14.46px;
  font-weight: 500;
  letter-spacing: -0.075em;
}

nav i {
  font-size: 24px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

/* CONTENT */

nav {
  height: 55px;
  color: #fff;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > * {
  padding: 3.5px;
}
